<div class="keyboard" id="keyboard" >
  <div class="name-input">
    <input id="filename" type="text" ng-model="input">
  </div>
  <div ng-repeat="keygroup in keyboardModel.keys_groups" class="type-group {{keygroup.group_type}}-group" id="key-group-{{$index}}" ng-init="groupIndex = $index">
    <a ng-if="keygroup.group_type=='key'" ng-repeat="key in keygroup.keys"
       class="{{keygroup.group_type}} ng-class:{'active':(activeKeyIndex==$index && activeKeyGroup==groupIndex)  };">
       {{key}}
    </a>
    <a ng-if="keygroup.group_type=='button'" ng-repeat="key in keygroup.keys"
       class="{{keygroup.group_type}} ng-class:{'active':(activeKeyIndex==$index && activeKeyGroup==groupIndex)  };">
       {{key.title}}
    </a>
  </div>
</div>
