<div class="menu-container">
  <div class="app-header">
    <div class="app-icon"><i class="fa fa-{{appModel.app_icon}}"></i></div>
    <div class="app-title">{{appModel.app_title}}</div>
  </div>
  <div class="app-menu">
    <div ng-repeat="item in menu_entries " class="item ng-class:{'active':activeMenuIndex==$index };">
      {{item.item_title}}
    </div>
  </div>
  <div class="helper">
    {{helper}}
  </div>
  <div class="status">
	{{state}}
  </div>
</div>
<div class="main-container">
</div>
