<div class="mediaviewer-list">
  <div ng-repeat="media in medias" class="mediaviewer-list-item ng-class:{'active':activeMediaIndex==$index};" ng-click="playFile(media)">
      <img style="width : 160px; height : 120px;" src="medias/{{media.mode}}/{{media.thumb}}">
    <span style="display : block; color : white;">{{media.name}}</span>
  </div>
</div>
