<video ng-if="source.mode=='video'" class="mediaplayer" id="mediaplayer-video" autoplay fullscreen src="{{playerSource}}"></video>
<img ng-if="source.mode=='photo'" class="mediaplayer" id="mediaplayer-photo" src="{{playerSource}}">
<audio ng-if="source.mode=='audio'" class="mediaplayer" id="mediaplayer-audio" autoplay src="{{playerSource}}" ></audio>
<img ng-if="source.mode=='3D'" class="mediaplayer" id="mediaplayer-3D" src="{{playerSource}}">
