@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,600,800,700,300,200);

html, body {
  height: 100%;
  font-family: 'Dosis', sans-serif;
  background-color: $background;
}

.app-navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin : 0 auto;
  .app-navigation {

    .owl-item.active.selected .app-item{
        background-color: $highlight;
        transform: scale(1.2);
    }

    .app-item {
      flex : 1;
      margin : 0 1rem;
      padding : 2rem;
      background-color: $button-1;
      transform: none;
      transition: background-color 0.3s ease;
      a {
        color : white;
      }

      .app-icon {
        text-align: center;
        font-size : 3rem;
      }
      .app-title {
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

.app-header {
  text-align: center;
  margin-bottom: 1rem;
  .app-icon{
    width: 100%;
    font-size: 2.5rem;
    color : white;

  }
  .app-title {
    width: 100%;
    color : white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  .menu-container {
    flex: 0 0 $lateral-size;
    background-color: $background;
    display: flex;
    flex-direction: column;

    .app-header {
      flex: 0 1 auto;
    }

    .app-menu {
      flex : 0 1 auto;
    }

    .helper {
      flex: 1 1 auto;
      color: rgba(255,255,255,0.7);
      line-height: 1.2rem;
      padding: 1rem;
    }

    .status {
      flex: 0 1 auto;
      background-color: $highlight;
      text-align: center;
      padding: 1.5rem 0.5rem;
      color: white;
      font-weight: 700;
      margin-top: 1rem;
    }



  }

  .main-container {
    flex : 1;

  }
}


.app-menu{
  display: flex;
  flex-direction: column;
  .item {
    background-color: $background;
    flex : 1;
    margin-bottom : 1px;
    line-height: 4rem;
    padding : 0 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: $button-1;
    color: white;
    transition: background-color 0.2s ease-in-out;

  }
  .item.active {
    background-color: $highlight;
  }

}

.main-container {
  background-color: rgba(0,0,0,0.3);
}

.keyboard {
  width: 65%;
  margin : 4rem auto;
  display : flex;
  flex-direction: column;
  .name-input {
    flex : 0 0 5rem;
    input{
      box-shadow: none;
      background: none;
      border: none;
      border-bottom: 2px solid #666666;
      margin: 0.2rem;
      color: white;
      font-size : 2rem;
      line-height: 3rem;
      height: 3rem;
    }
  }
  .type-group{
    display: flex ;
  }

  .type-group.key-group {

    flex-wrap: wrap;
    .key {
      border-radius : 3px;
      border : 1px solid #666666;
      display: block;
      background-color: lighten($background, 10);
      color : white;
      height : 2rem;width : 2rem;
      text-align: center;
      line-height: 2rem;
      margin : 0.4rem;
    }
    .key.active {
          background-color: lighten($background, 20);
          box-shadow: 0 0 6px #666666
    }

  }

  .type-group.button-group {
    flex : 0 0 3rem;
    .button {
      background-color: $button-1;
      color : white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      height: 3.2rem;
      line-height: 3.2rem;
      flex : 1;
      margin : 0.5rem 1rem;
    }
    .button.active {
      background-color: $highlight;
    }
  }
}

.mediaviewer {
  width : 100%;
  display: flex;
  flex-direction: column;

  video {
    width : 100%;
    height : 100%;
  }

  .mediaviewer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap : wrap;
    .mediaviewer-list-item {
      flex: 0 1 auto;
      min-width: 5rem;
      min-height: 5rem;
      align-self: center;
      background-color: #FF6600;
      margin: 0.8rem;
      padding: 0 0 0.8rem 0;
      span {
        padding : 0.2rem 0.8rem;
      }
    }
    .mediaviewer-list-item.active {
      background-color: $highlight;
      border: 2px solid $highlight;

    }
  }
  .mediaviewer-buttons {
    display: flex;
    flex: 0 0 4rem;
    .button {
      flex : 1;
    }
  }
}
