<div class="app-navigation-container">
  <data-owl-carousel class="app-navigation" data-options="{center : true, nav : false, pagination: true, rewindNav : false, loop : true, addClassActive: true}">
    <div owl-carousel-item="" ng-repeat="app in apps" class="app-item">
        <div class="app-icon"><i class="fa fa-{{app.app_icon}}"></i></div>
        <div class="app-title">{{app.app_name}}</div>
    </div>
  </data-owl-carousel>
</div>
